.favoriteButton {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    transition: transform 0.2s ease;
    z-index: 1000;
}

.favoriteButton:hover {
    transform: scale(1.2);
}

.liked {
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;/* Rouge quand liked */
}

.heartIcon {
    width: 24px;
    height: 24px;
    color: #353535;
    transition: color 0.2s, fill 0.2s;
}

.liked .heartIcon {
    color: transparent;
}