.orderButton {
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    color: white;
    border: none;
    padding: 1rem 3rem;
    border-radius: 25px;
    font-weight: 500;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    display: block;
    margin: 0 auto;
}

.orderButton:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}